div>h1{
    margin-bottom: 1rem;
    color: rgb(78, 78, 255);
}

div>p{
    color: rgb(253, 242, 242);
}

/* video{
    height: 100px;
    width: auto;
} */
.app_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .app_img img {
    width: 250px;
    height: auto;
    margin: 5px;
    border: 10px solid rgb(50, 51, 50);
    border-radius: 40px;
    
  }
  
  @media screen and (max-width: 640px) {
    .app_img {
      flex-direction: column;
      
    }

    .app_img img{
        width:270px;
        height:480px;
    }
  }
  

